<div layout="row" layout-align="center center">
  <md-card flex="25">
    <md-card-title layout="row" layout-align="center">
      Facebook Authentication Example!
    </md-card-title>
    <md-card-content layout="row" layout-align="center">Login here!</md-card-content>
    <md-card-actions layout="row" layout-align="center">
      <button md-raised-button color="primary" style="background-color:RoyalBlue" (click)="onFacebookLoginClick()" class="fa fa-facebook fa-fw">Sign in with Facebook</button>
    </md-card-actions>
  </md-card>
</div>